<app-navbar></app-navbar>
<div class="card mt-4" style="width: 30rem;">
    <div class="card-body">
        <div class="row mb-5">
            <div class="col-4">
                <h3>${{transaction.balance}}</h3>
                Balance
            </div>
            <div class="col-4">
                <h3>${{transaction.availablefunds}}</h3>
                Available Funds
            </div>
            <div class="col-4">
                <h3>${{transaction.creditlimit}}</h3>
                Credit Limit
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 text-right">
                <button type="button" class="btn btn-success" routerLink="/drawmony">MAKE A DRAW</button>
            </div>
        </div>
    </div>
</div>